<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("partials/includes") %> 
    <link rel="stylesheet" href="/style/inventory-style.css">
    <title>Inventory</title>
</head>
<body>
    
    <div class="container">
      <div class="d-flex justify-content-center align-items-center mt-3">
        <h4 class="display-5">Inventory</h4>
      </div>
    </div>
    
    <div class="container">
        <form action="" class="">
          <div class="row">
            <div class="input-group w-25 col-auto">
              <input type="search" class="form-control" placeholder="Find Item"/>
              <button type="button" class="btn btn-outline-secondary">Search</button>
            </div>
            <div class="col">

            </div>
            <div class="col-auto ">
              <a href="/inventory/addsupply" class="btn btn-outline-secondary">Add Supply</a>
              <a href="/" class="btn btn-outline-secondary">Add Item</a>   
            </div>
          </div>
        </form>
    </div>

    <div class="container">
      <div class="d-flex justify-content-center align-items-center mt-2">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th scope="col">Item Name</th>
              <th scope="col">Listing Price</th>
              <th scope="col">Retail Price</th>
              <th scope="col">Total Quantity </th>
              <th scope="col">Available Quantity</th>
              <th scope="col">Date</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <% invents.forEach(invent => { %> 
              <tr>
                <td><%= invent.itemName %></td>
                <td><%= invent.listingPrice %></td>
                <td><%= invent.retailPrice %></td>
                <td><%= invent.totalQuantity %></td>
                <td><%= invent.availableQuantity%></td>
                <td><%= invent.date %></td>
                <td><a href="/inventory_route/delete/<%= invent._id %>" class="btn btn-danger btn-sm mx-2">Delete</a></td>
              </tr>
            <% }) %>  
          </tbody>
        </table>
      </div>
    </div>
</body>
</html>